{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Course | ACADEMYKO{% endblock %}

{% block menu %}
    <li ><a href="{% url 'homepage' %}">Home</a></li>
    <li><a class="active" href="{% url 'courses' %}">Courses</a></li>
    <li><a href="instructors.html">Instructors</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
{% endblock %}

{% block content %}

    <div class="container p-5">
		<div class="col">
			<ul class="breadcrumbs_list d-flex flex-row align-items-center justify-content-start">
				
			</ul>
		</div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form|crispy }}
                    
                    <input type="submit" class="btn btn-primary" value="Create">
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}