{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}change password | ACADEMICO{% endblock %}

{% block menu %}
    <li ><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'courses' %}">Courses</a></li>
    <li><a href="instructors.html">Instructors</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
{% endblock %}
{% block content %}

<div class="register">
    <div class="container">
        <div class="row">
            
            <!-- Login Form -->

            <div class="col-lg-6">
                <div class="register_form_container">
                    <div class="register_form_title"><center>Change Password</center></div>
                    <form method="POST" id="register_form" class="register_form">
                        
                        <div class="row register_row">      
                            <!-- NOTHING IS HERE -->
                        </div>
                        <div class="container">
                                {% csrf_token %}
                                <input class="form_input m-2" type="password" placeholder="old password" name="old_password" autocomplete="current-password" required id="id_old_password">
                                <input class="form_input m-2" placeholder="New password" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"> 
                                {% if form.errors %}
                                <div class="container">
                                    <div class="container">
                                        <div class="container border border-danger">
                                            <span class="helptext ">
                                                <code>
                                                    <ul>
                                                        <li>&erarr; Your password can’t be too similar to your other personal information.</li>
                                                        <li>&erarr; Your password must contain at least 8 characters.</li>
                                                        <li>&erarr; Your password can’t be a commonly used password.</li>
                                                        <li>&erarr; Your password can’t be entirely numeric.</li>
                                                    </ul>
                                                </code>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <input class="form_input m-2" placeholder="New password confirmation" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                                <div class="col p-4">
                                    <button type="submit" class="form_button trans_200">Change Password</button>
                                </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Register Timer -->

            <div class="col-lg-6">
                <div class="register_timer_container">
                    <div class="register_timer_title">Buy Courses Now</div>
                    <div class="register_timer_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
                    </div>
                    <div class="timer_container">
                        <ul class="timer_list">
                            <li><div id="hour" class="timer_num">00</div><div class="timer_ss">hours</div></li>
                            <li><div id="minute" class="timer_num">00</div><div class="timer_ss">minutes</div></li>
                            <li><div id="second" class="timer_num">00</div><div class="timer_ss">seconds</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- form itself end-->
<div class="container">
    
</div>

{% endblock %}