{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}password CHANGED | ACADEMYCO{% endblock %}

{% block menu %}
    <li ><a href="{% url 'homepage' %}">Home</a></li>
    <li><a href="{% url 'courses' %}">Courses</a></li>
    <li><a href="instructors.html">Instructors</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
{% endblock %}

{% block content %}

<div class="register">
    <div class="container">
        <div class="row">
            <!-- Login Form -->
            <div class="container">
                <center><h4>YOUR <code>< PASSWORD ></PASSWORD></code> HAS</h4></center>
            </div>
            <div class="container">
                <h1><center> BEEN SUCCESSFULY CHANGED</center></h1>
            </div> 
            <div class="container">
                <center><a class="btn btn-primary" href="{% url 'courses' %}">GO TO home</a></center>
            </div>
        </div>
    </div>
</div>

{% endblock %}